<header xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" id="navbar" aria-label="Main navigation">
    <nav class="navbar" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">OurShop</a>
        </div>


        <div class="navbar-links" role="navigation">
            <ul>
                <li th:each="link : ${navLinks}">
                    <a th:href="${link.url()}"
                       th:text="${link.name()}"
                       class="navbar-item"
                       role="menuitem">
                    </a>
                </li>
            </ul>
        </div>


            <button
                    type="button"
                    class="navbar-toggle"
                    aria-expanded="false"
                    aria-controls="navbar-links"
                    onclick="toggleNavbar()">
                ☰
            </button>
        </nav>


    <script src="/scripts.js">     </script>

    <link rel="stylesheet" href="/styles.css">
</header>

