<div th:fragment="navbar" id="navbar">
    <header role="banner">

        <nav class="navbar" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">OurShop</a>
            </div>

            <div class="navbar-links">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/categories">Categories</a>
                <a class="navbar-item" href="/products">Products</a>
            </div>


            <button type="button" class="navbar-toggle" onclick="toggleNavbar()">☰</button>
        </nav>
    </header>


    <script src="/navbar.js">     </script>

    <link rel="stylesheet" href="/styles.css">
</div>
