<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new Product</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>Add Product</h2>
<form method="post" action="">
    <label>
        Name:
        <input name="name" placeholder="Toy">
    </label>
    <br>
    <label>
        Stock:
        <input name="stock" type="number" placeholder="0">
    </label>
    <br>
    <label>
        Category:
        <select name="categoryId">
            <option th:each="category : ${categories}" th:value="${category.id()}" th:text="${category.name()}"></option>
        </select>
    </label>
    <br>
    <button>Submit</button>
    <button type="reset">Reset</button>
</form>

</body>
</html>